*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.nav-container{
    background-color: transparent;
    color:white;
    width:100%;
    min-height:50px;
    display: flex;
    font-family: monospace;
    
    padding-top: 20px;
    padding-left: 5px;
    justify-content:space-between;
    align-items: center;
    z-index: 30;
    transition:0.6s;
    position:fixed;
}
.nav-container h1{
    font-weight: 800;
}

.sticky{
    background-color: rgba(255, 255, 255, 0.897);
    color: #000;
    
    padding:4px 30px;
}
.sticky .nav-links-list li a{
    color: #000;
    
}
.sticky .nav-links-list li a:hover{
    color: #fff;
    background-color:#000;
}

.nav-logo{
    position: relative;
    font-weight: 1000;
    transition:0.6s;
    margin:5px 10px 5px 0px;
    

}

.nav-links-list{
    list-style: none;
    position: relative;
    display:flex;
    flex-direction:row;
    margin:0 20px 0 10px;
    
}
/* .nav-links-list li{
    
    
    
   
} */
.nav-links-list li a{
    position: relative;
    font-size:1.2rem;
    font-weight:bolder;
    list-style: none;
    text-decoration:none;
    color:#fff;
    transition:0.3s;
    margin:5px 5px;
    padding:3px 6px;
}



@media screen and (max-width:820px){
    .line{
        width:30px;
        height:3px;
        background-color:rgb(255, 255, 255);
        margin:5px;
    }
   
    .hamburger{
        position:absolute;
        cursor:pointer;
        right:5vw;
        margin:auto 0;
        padding-top: 8px;
        
    }
    .nav-container{
        display:flex;
        flex-direction: column;
        position:fixed;
        background-color:transparent;
        align-content: center;

    }
    .nav-links-list{
        display:flex;
        flex-direction: column;
        width:100%;
        margin:0;
        padding:0;
    }

    .nav-links-list li{
        width:100vw;
        
        margin:0;
        padding:15px 0;
        text-align: center;
    }
    .show .nav-links-list{
        display:none;
    }
    .nav-links-list li:hover{
        
        
    }
    .nav-container{
        background-color:rgb(192, 192, 192);
    }
}



@media (min-width: 820px)
{
    .nav-links-list li:hover{
        color:#fff;
        background-color:#000;
        border:2px solid #fff;
        border-radius:10px;
    }
}